<div id="forms">
<form id="login-form" class="login-form">
    <h2> Login </h2>
  <div class="form-group">
    <label for="name-login"> Name </label>
    <input type="name-login" class="form-control" id="name-login" aria-describedby="emailHelp" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="login-password">Password</label>
    <input type="login-password" class="form-control" id="login-password" placeholder="Password">
  </div>
  <button id="login-button" type="submit" class="btn btn-primary">Submit</button>
</form>

<form id="signup-form" class="signup-form">
    <h2> Sign Up </h2>

  <div class="form-group">
    <label for="signup-name">Name</label>
    <input type="signup-name" class="form-control" id="signup-name" placeholder="Name">
  </div>

  {{!-- <div class="form-group">
    <label for="signup-email">Email address</label>
    <input type="name" class="form-control" id="signup-email" aria-describedby="emailHelp" placeholder="Enter email">
  </div> --}}

  <div class="form-group">
    <label for="signup-password">Password</label>
    <input type="signup-password" class="form-control" id="signup-password" placeholder="Password">
  </div>
  <button id="signup-button" type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<script src="./js/login.js"></script>  